In [19]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
import pandas as pd
import numpy as np

In [13]:
np.random.seed(1)
n = 100
dates = pd.date_range(start='2050-01-01', periods=n, freq='d')
products = np.random.choice(['Tablet', 'Camera', 'Phone'], n)
prices = np.round(np.random.uniform(50.0, 200.0, n), 2)
quantities = np.random.randint(1,15,n)

data = {
    'Date': dates,
    'Products': products,
    'Prices': prices,
    'Quantity': quantities
}

df = pd.DataFrame(data)
df.head()

        Date Products  Prices  Quantity
0 2050-01-01   Camera  191.69         2
1 2050-01-02   Tablet  137.98         8
2 2050-01-03   Tablet  185.51         1
3 2050-01-04   Camera   70.62        11
4 2050-01-05   Camera   70.89        11

In [16]:
df.to_csv('random_sales.csv', index=False)

In [18]:
df = pd.read_csv('random_sales.csv')
df.head()

         Date Products  Prices  Quantity
0  2050-01-01   Camera  191.69         2
1  2050-01-02   Tablet  137.98         8
2  2050-01-03   Tablet  185.51         1
3  2050-01-04   Camera   70.62        11
4  2050-01-05   Camera   70.89        11

In [21]:
df.to_excel('sales_data.xlsx')